.overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

@media(min-width: 992px){
    .background{
        height: 100vh;
    }
}

.background{
    background-image:  url("../../../assets/images/photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    position: relative;
}

.title{
    font-size: 6vw;
    color: white;
}

.text{
    color: white;
    font-size: 2vw;
}

.btn-custom{
    background-color: #dc3545;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    transition: all 0.5s;

    &:hover{
        background-color: white;
        color: #dc3545;
        transform: scale(1.1);
    }
    
}

.introduction-box{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F8F9FA;
}

.introduction-content{
    background-color: #F8F9FA;
}

.introduction-text-right{
    border-left: 0.5rem solid #64a19d;
}

.introduction-text-left{
    border-right: 0.5rem solid #64a19d;

}