<div class = "background">
    <div class="overlay row h-100 mx-0 justify-content-center align-items-center">
        <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center mb-3 title">Reserva un aula</h1>
            <p class="text-center mb-0 text">Estudiar en grupo?</p>
            <p class="text-center text">encuentra un lugar dentro del campus de forma sencilla</p>
            <a type="button" class="btn btn-custom px-5 py-2" [routerLink]="['/login']">Entrar</a>
        </div>
    </div>
</div>


<div class="row col-md-12 mx-0 justify-content-center align-items-center px-0 introduction-box ">

    <div class="row col-md-11 justify-content-center align-items-center ">

        <div class="row my-3 ">
            <div class= "col-md-8 px-0">
                <img src="../../../assets/images/camera.jpg" alt="" class="img-fluid ">
            </div>

            <div class="row justify-content-center align-items-center col-md-4 mx-0 px-0 introduction-content">
                <div class="text-left px-5 introduction-text-right">
                    <h3>Por que?</h3>
                    <p>En ocasiones los lugares destinados para estudio en grupo estan ocupados</p>
                </div>
            </div>

        </div>

        <div class="row my-3">
            <div class="row justify-content-center align-items-center col-md-4 mx-0 px-0 introduction-content">
                <div class="text-right px-5 introduction-text-left">
                    <h3>Finalidad</h3>
                    <p>Con esta web podras saber cuales cursos estan disponibles y 
                    podras reservarlos para fines educativos </p>
                </div>
            </div>

            <div class="col-md-8 px-0">
                <img src="../../../assets/images/share.jpg" alt="" class="img-fluid">
            </div>

        </div>

    </div>
</div>