<div class = "background">
    <div class="overlay row h-100 mx-0 justify-content-center align-items-center">
        <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center mb-3 title">Search photos</h1>
            <p class="text-center text">The best free stock photos shared by creators</p>
            <a type="button" class="btn btn-custom px-5 py-2" [routerLink]="['/search']">Search</a>
        </div>
    </div>
</div>


<div class="row col-md-12 mx-0 justify-content-center align-items-center px-0 introduction-box ">

    <div class="row col-md-11 justify-content-center align-items-center ">

        <div class="row my-3 ">
            <div class= "col-md-8 px-0">
                <img src="../../../assets/images/camera.jpg" alt="" class="img-fluid ">
            </div>

            <div class="row justify-content-center align-items-center col-md-4 mx-0 px-0 introduction-content">
                <div class="text-left px-5 introduction-text-right">
                    <h3>Why do we take pictures?</h3>
                    <p>Pictures provide a platform for our individual and unique perceptions of an experience </p>
                    <p>There is no single story in an image, all of us project our own perceptions fueled by the memories of a particular feeling at the time the picture was taken </p>
                </div>
            </div>

        </div>

        <div class="row my-3">
            <div class="row justify-content-center align-items-center col-md-4 mx-0 px-0 introduction-content">
                <div class="text-right px-5 introduction-text-left">
                    <h3>Page Purpose</h3>
                    <p>Photography is sharing a moment</p> 
                    <p>Capture love, joy, and everything in between and share it with people around de world</p>
                </div>
            </div>

            <div class="col-md-8 px-0">
                <img src="../../../assets/images/share.jpg" alt="" class="img-fluid">
            </div>

        </div>

    </div>
</div>