<div class="uploader-container">
    <div class="red-background">
    </div>
    <div class="custom-dropzone-container">
        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [expandable]="true" [disabled]="uploading" (change)="onSelect($event)">
            <ngx-dropzone-label>
                <div>
                    <h5>Drag and drop photos</h5>
                </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"  [file]="f" [removable]="true" (removed)="onRemove(f)">
            </ngx-dropzone-image-preview>
        </div>
    </div>
</div>
<div class="upload-button-container">
    <button type="button" class="btn btn-danger" (click)="uploadFiles()">Upload Images   <fa-icon [icon]="faCloudUploadAlt"></fa-icon></button>
    <div class="progress" [hidden]="!uploading">
        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBarPercentage"></div>
    </div>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md">
            <fa-stack style="font-size: 40px;">
                <fa-icon [icon]="faCircle" stackItemSize="2x" class="red-icon"></fa-icon>
                <fa-icon [icon]="faFileImage" stackItemSize="1x" class="white-icon"></fa-icon>
            </fa-stack>
            <h3 class="my-3" style="font-size: 16px;">Save your photos</h3>
            <p class="text-muted" style="font-size: 14px;">Save image in a public repository and share it with people around de world</p>
        </div>
        <div class="col-md">
            <fa-stack style="font-size: 40px;">
                <fa-icon [icon]="faCircle" stackItemSize="2x" class="red-icon"></fa-icon>
                <fa-icon [icon]="faHdd" stackItemSize="1x" class="white-icon"></fa-icon>
            </fa-stack>
            <h3 class="my-3" style="font-size: 16px;">Free cloud storage</h3>
            <p class="text-muted" style="font-size: 14px;">Eliminates the need to purchase and manage your own data storage infrastructure</p>
        </div>
        <div class="col-md">
            <fa-stack style="font-size: 40px;">
                <fa-icon [icon]="faCircle" stackItemSize="2x" class="red-icon"></fa-icon>
                <fa-icon [icon]="faClock" stackItemSize="1x" class="white-icon"></fa-icon>
            </fa-stack>
            <h3 class="my-3" style="font-size: 16px;">Fast Upload</h3>
            <p class="text-muted" style="font-size: 14px;">Drag and drop or upload your file, share your files fast with anyone in the world</p>
        </div>
    </div>
</div>
