.custom-navbar {
  background-color: #232a34 !important;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);

  a {
    color: white;
  }

  .active {
    font-weight: bolder;
  }

  .navbar-collapse {
    flex-grow: unset !important;
  }

  .container-fluid {
    gap: 15px;
  }
}
