<nav class="navbar navbar-expand-md stick-top custom-navbar">
    <div class="container-fluid d-flex w-100 justify-content-between">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../../assets/images/logo.png" alt="" height="auto" width="29" class="d-inline-block align-text-top">
        WeShare
      </a>
      
    <app-search-input class="d-flex flex-fill"></app-search-input>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
          <a class="nav-link" [routerLink]="['/search']" [routerLinkActive]="['active']">Search</a>
          <a class="nav-link" [routerLink]="['/upload']" [routerLinkActive]="['active']">Upload</a>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
